---
layout: default
---
<style>
 #bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
 h1 {text-align: center;
     color: white;}
 p {text-align: center;
   color: white;}
 div {text-align: center;
   color: white;}
}
</style>
<img src="https://lh6.googleusercontent.com/Ijkk8jtDq1mBLkWMkdoIHwih0_vYjF_t46XFHIXQZRJf0PMrZNy897YfYadizds9IjpbGwQcFloiOoqvAd7sMo3YQWW0dn0ar9e4K0ToLl2sFMcyzy8a=w1280" id="bg" alt="">
<h1> Cadaval Estudio </h1>
<p>This is a paragraph.</p>
<div>This is a div.</div>
