<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadaval</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		h1 {
			display: none;
			font-size: 0;
			max-width: 0;
			max-width: 0;
			overflow: hidden;
		}
		body {
			height: 100vh;
			width: 100vw;
		}
		section {
			align-items: center;
			display: flex;
			height: 100vh;
			justify-content: center;
			width: 100vw;
		}
		figure {
			max-width: 90%;
		}
		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<section>
		<h1>Cadaval</h1>
		<figure>
			<img src="cadaval_web_loading.gif" alt="">
		</figure>
	</section>
</body>
</html>